
.title-info{
    display: flex;
   flex-direction: column;
}

.title{
    display: flex;
    // justify-content: center;
    margin-bottom: 10px;
    margin-left: 20px;
   
}

.lable-title{
   width: 20%;
   font-size: 16px;
   font-weight: 500;
   margin-right: 10px;
   color: #6AACAB;
}

.text-input{
    border-style: none;
    outline: none;
    width: 60%;
    padding: 4px;
    border-radius: 5px;
    padding: 8px;
    
}

/* Khung bao quanh input checkbox */
.toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Input checkbox ẩn đi, sử dụng label để kích hoạt */
  .toggle input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* Vùng hiển thị trạng thái toggle */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  /* Tô màu vùng toggle khi input được chọn */
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  /* Tô màu vùng toggle khi input được chọn */
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  /* Hiển thị trạng thái toggle khi input được chọn */
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }